<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or Reporting">
    <experienceProfile>
      <providers>
        <contactSearchProvider type="Sitecore.Cintel.ContactSearchProvider, Sitecore.Cintel" set:type="Sitecore.Support.Cintel.ContactSearchProvider, Sitecore.Support.200218" />
      </providers>
    </experienceProfile>
  </sitecore>
</configuration>